<footer class="footer-footer">
  <div class="container_footer">
    <div class="footer_top">
      <div class="footer_top_block-left_img">
        <img src="../assets/frame_1.SVG" alt="лого EGE" />
        <div style="position: relative; right: 353px">
          <h2 style="color: white">Остались вопросы ?</h2>
        </div>
      </div>

      <div class="footer_block_top">
        <div class="footer_top_block-left">
          <div class="footer_top_block-left_text">
            <div class="footer_top_block-left_text_block">
              <div class="block_footer_number-image">
                <img src="../assets/telefon Brad.svg" alt="лого тел" />
                <span>Контактный телефон</span>
              </div>
              <div class="footer_left-block_text">
                <a href="tel:+ 7 (812) 309-09-34" class="text_color_footer"
                  >{{ "+ 7 (812) 309-09-34" | phonePipe }} </a
                ><a href="tel:+ 7 (965) 084-29-09 " class="text_color_footer"
                  >{{ "+ 7 (965) 084-29-09" | phonePipe }}
                </a>
              </div>
            </div>
            <div class="footer_top_block-left_text_block">
              <div class="block_footer_number-image">
                <img src="../assets/sms brad.svg" alt="лого почта" />
                <span>Электронная почта</span>
              </div>

              <div class="footer_left-block_text">
                <a href="mailto:tustin78@mail.ru " class="text_color_footer"
                  >tustin78&#64;mail.ru</a
                ><a href="mailto:info@tustin.ru " class="text_color_footer"
                  >info&#64;tustin.ru</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="footer_top_block-right">
          <div class="footer_top_block-right_text">
            <div>
              <p class="footer_top_block-right_text_p">
                Узнавайте первым о скидках, предложениях и событиях еженедельно
                в<br />
                своем почтовом ящике. Отпишитесь в любое время одним щелчком
                мыши.
              </p>
            </div>
          </div>

          <div class="footer_top_block-right_input">
            <div class="container_input">
              <img
                style="position: relative; right: 39px"
                src="../assets/sms brad.svg"
                alt="лого почта"
              />
              <input
                class="input_footer"
                type="text"
                placeholder="Введите свою почту"
              />
              <button class="footer_input-button">Отправить</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer_bottom">
      <div class="footer_block_bottom">
        <div class="footer_bottom_block_top">
          <span>Главная</span><span>О компании</span><span>Каталог</span>
        </div>
        <div class="footer_bottom_block_bottom">
          <div class="bottom_img">
            <img src="../assets/facebook.svg" alt="лого фейсбук" />
            <img src="../assets/youtube.svg" alt="лого ютуб" />
            <img src="../assets/whatsapp.svg" alt="лого ватсапп" />
          </div>
          <div class="bottom_text"><span>© 2021-2022, EDE</span></div>
        </div>
      </div>
    </div>
  </div>
</footer>
