.footer-footer {
  background-color: rgba(75, 86, 94, 1);
  width: 1920px;
  height: 373px;
}
.container_footer {
  justify-content: space-between;
  width: 1320px;
  margin: 0 auto;
  padding: 30px;
  height: 313px;
  display: flex;
  flex-direction: column;
}
.footer_block_top {
  display: flex;
  justify-content: space-between;
}
.footer_top_block-left {
  display: flex;
  margin-top: 30px;
}
.footer_top_block-left_img {
  display: flex;
  justify-content: space-between;
}
.footer_top_block-left_text {
  display: flex;
  gap: 55px;
}

.block_footer_number-image {
  display: flex;
  gap: 10px;
  color: rgba(255, 255, 255, 0.6);

  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
}
.text_color_footer {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  text-decoration: none;
}
.footer_left-block_text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 6px;
}

.footer_top_block-right {
  width: 594px;
  height: 116px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.footer_top_block-right_text {
  position: relative;
  bottom: 20px;
}
.footer_top_block-right_text_p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}
.footer_top_block-right_input {
  width: 594px;
  height: 48px;
  align-content: center;
  border: solid;
  border-radius: 35px;
  border-color: rgba(240, 186, 78, 1);
}
.input_footer {
  width: 150px;
  color: rgba(75, 86, 94, 0.6);
  background: transparent;
  border: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  right: 140px;
}
.container_input {
  display: flex;
  justify-content: space-around;
}
.footer_input-button {
  border: 1px solid;
  border-radius: 20px;
  border-color: #f0ba4e;
  padding: 6px;
  background: transparent;
  color: white;
  background-color: #f0ba4e;
  position: relative;
  left: 50px;
}

.footer_block_bottom {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_bottom_block_top {
  width: 256px;
  display: flex;
  gap: 19px;
  color: white;
}

.footer_bottom_block_bottom {
  display: flex;
  justify-content: space-between;
}

.bottom_img {
  display: flex;
  gap: 15px;
}

.bottom_text {
  color: white;
}
