.form-todo-form {
  display: flex;
  flex-direction: column;
  width: 1320px;
  margin: 0 auto;
}

.form-input {
  width: 200px;
}

.form-button {
  width: 150px;
  margin-top: 20px;
}

.alert {
  color: red;
}
