<div style="margin-bottom: 30px">
  <form
    style="display: flex; flex-direction: column; width: 1320px; margin: 0 auto"
    action=""
  >
    <p>NAME</p>
    <input class="form-input" type="text" />
    <p>EMAIL</p>
    <input class="form-input" type="text" />
    <p>WEBSITE</p>
    <input class="form-input" type="text" />
    <p>COMPANY NAME</p>
    <input class="form-input" type="text" />
    <button (click)="createUser()" style="width: 150px; margin-top: 20px">
      CREATE USER
    </button>
  </form>
</div>
