<form class="form-todo-form" [formGroup]="formTodo">
  <mat-form-field>
    <mat-label>Текст Задачи</mat-label>
    <input
      matInput
      placeholder="напишите текст задачи"
      class="form-input"
      type="text"
      formControlName="title"
    />
  </mat-form-field>
  <div
    *ngIf="
      formTodo.controls['title'].invalid &&
      (formTodo.controls['title'].dirty || formTodo.controls['title'].touched)
    "
    class="alert"
  >
    <div *ngIf="formTodo.controls['title'].errors">Некорректная задача!</div>
  </div>

  <mat-form-field>
    <mat-label>Автор Задачи</mat-label>
    <input
      matInput
      placeholder="Имя автора"
      class="form-input"
      type="text"
      formControlName="userId"
    />
  </mat-form-field>
  <div
    *ngIf="
      formTodo.controls['userId'].invalid &&
      (formTodo.controls['userId'].dirty || formTodo.controls['userId'].touched)
    "
    class="alert"
  >
    <div *ngIf="formTodo.controls['userId'].errors">Некорректное значение!</div>
  </div>

  <mat-form-field>
    <mat-label>Задача Завершена ?</mat-label>

    <input
      matInput
      placeholder="да либо нет"
      class="form-input"
      type="text"
      formControlName="completed"
    />
  </mat-form-field>
  <div
    *ngIf="
      formTodo.controls['completed'].invalid &&
      (formTodo.controls['completed'].dirty ||
        formTodo.controls['completed'].touched)
    "
    class="alert"
  >
    <div *ngIf="formTodo.controls['completed'].errors">
      Некорректное значение!
    </div>
  </div>

  <button
    mat-button
    class="form-button"
    [mat-dialog-close]="todoWithUpdatedFields"
    [disabled]="formTodo.invalid"
  >
    РЕДАКТИРОВАТЬ
  </button>
</form>
