<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- шапка -->
    <div style="background-color: #4b565e">
      <div class="content-container-1">
        <div class="header">
          <div class="header_lefr">
            <div class="header-logo">
              <img src="../assets/frame_1.SVG" alt="логотип сайта" />
            </div>
            <nav class="header_nav">
              <a href="url" class="header_nav_item">
                {{ HeaderItem1 }}
              </a>
              <a href="url" class="header_nav_item">
                {{ aboutCompany }}
              </a>
              <a href="url" class="header_nav_item" *ngIf="isShowCatalog">
                {{ HeaderItem3 }}
              </a>
            </nav>
            <button (click)="isShowCatalog = !isShowCatalog">
              скрыть\показать
            </button>
            <button (click)="changeMenuText()">изменить текст</button>
          </div>
          <div class="header_right">
            <div class="logo-phone">
              <img src="../assets/Phone.svg" alt="логотип телефона" />
            </div>
            <a href="tel: +7 (965) 084-29-29" class="number-phone"
              >+7 (965) 084-29-29</a
            >
            <div class="logo-heart">
              <img src="../assets/heart 1.svg" alt="логотип сердца" />
            </div>
            <button type="button" class="header-korzina">
              <img
                class="korzina"
                src="../assets/Mask group.svg"
                alt="лого корзина"
              />
              <span class="header_korzina_text">Пусто</span>
            </button>
          </div>
        </div>
        <!-- шапка 2 -->
      </div>
      <div style="background-color: #f0ba4e">
        <div class="content-container-1">
          <div class="header_2">
            <div class="header_2_left">
              <div class="header_2_logo">
                <img
                  class="logo-katalog"
                  src="../assets/light.svg"
                  alt="логотип каталога"
                />
              </div>
              <nav class="header_nav_2">
                <div *ngFor="let item of menuItems" class="header_nav_item2">
                  {{ item }}
                </div>
              </nav>
            </div>
            <div class="header_2_right">
              <div class="input">
                <input
                  class="input_header"
                  type="search"
                  placeholder="Поиск, например Круг зачистной "
                />
                <img src="../assets/Mask lupa.svg" alt="лого лупа" />
              </div>
              <div style="display: flex">
                <img
                  style="margin-right: 5px"
                  src="../assets/map-pin (2) 1.svg"
                  alt="лого-москва"
                />
                <div>Москва</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
    <!-- конец шапки -->
    <div>
      <button (click)="ImageBody = !ImageBody">скрыть\показать мужика</button>
      <img
        *ngIf="ImageBody"
        src="../assets/баннер.png"
        alt="background-large"
      />
    </div>
    <!-- баннер грустного мужика -->
    <!--  КОНТЕЙНЕР-->
    <div class="content-container">
      <!-- ИНФО КАРТА -->
      <div class="info">
        <div class="info-card">
          <img class="icon-info" src="../assets/logo kirpich.svg" alt="" />
          <span class="info-card-text"
            >Большой ассортимент
            <span style="color: rgba(161, 160, 160, 1)"
              >строительных материалов всегда в наличии</span
            >
          </span>
        </div>
        <div class="info-card">
          <img
            class="icon-info icon-center"
            src="../assets/mashinka.svg"
            alt=""
          />
          <span class="info-card-text">
            Доставка стройматериалов
            <span style="color: rgba(161, 160, 160, 1)">
              в течении четырех часов или в любое удобное время
            </span>
          </span>
        </div>
        <div class="info-card">
          <img
            class="icon-info"
            class="icon-info"
            src="../assets/palets.svg"
            alt=""
          />
          <span class="info-card-text">
            <span style="color: rgba(161, 160, 160, 1)">Многоуровневая</span>
            система управления качеством
            <span style="color: rgba(161, 160, 160, 1)"
              >по стандарту ISO 9001</span
            >
          </span>
        </div>
      </div>
      <!-- Конец инфо карты -->
      <div class="item-cards">
        <div class="item-cards-pagination-style">
          <div *ngFor="let item of newPages" class="item-cards_pagination">
            <button class="item-cards_pagination-button active-button">
              {{ item }}
            </button>
          </div>
        </div>
        <div class="item-card_grid">
          <div class="item-cards_grid-left">
            <p class="item-cards_grid-left-text">
              Строительный отделочный инструмент
            </p>
            <div class="tem-cards_grid-left-action">
              <p class="item-cards_grid-left-action_text">Перейти в каталог</p>
              <a class="tem-cards_grid-left-action-link" href="">
                <img src="../assets/strelka.svg" alt="лого каталог" />
              </a>
            </div>
          </div>
          <!-- Правая часть плиток -->
          <div class="item-cards_grid-right">
            <div class="item-cards__grid-right-block block-1">
              <p class="items-card__grid-right-block-text">Эмали</p>
              <div class="item-cards_grid-right-action action-right-1">
                <p class="item-cards_grid-right-action_text">
                  Перейти в каталог
                </p>
                <a href="">
                  <img src="../assets/strelka.svg" alt="лого эмали" />
                </a>
              </div>
            </div>
            <div class="item-cards__grid-right-block block-2">
              <p class="items-card__grid-right-block-text-2">
                Лакокрасочные материалы
              </p>
              <div class="item-cards_grid-right-action action-right-2">
                <p class="item-cards_grid-right-action_text">
                  Перейти в каталог
                </p>
                <a href="">
                  <img
                    src="../assets/strelka.svg"
                    alt="лого красочный материал"
                  />
                </a>
              </div>
            </div>
            <div class="item-cards__grid-right-block block-3">
              <p class="items-card__grid-right-block-text-3">
                Пены, клеи и герметики
              </p>
              <div class="item-cards_grid-right-action action-right-3">
                <p class="item-cards_grid-right-action_text">
                  Перейти в каталог
                </p>
                <a href="">
                  <img src="../assets/strelka.svg" alt="лого пены" />
                </a>
              </div>
            </div>
            <div class="item-cards__grid-right-block block-4">
              <p class="items-card__grid-right-block-text-4">
                Розетки и выключатели
              </p>
              <div class="item-cards_grid-right-action action-right-4">
                <p class="item-cards_grid-right-action_text">
                  Перейти в каталог
                </p>
                <a href="">
                  <img src="../assets/strelka.svg" alt="лого розетки" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ПЛИТКА ПОПУЛЯРНЫЕ ТОВАРЫ -->
    <div class="container-card-1">
      <div class="container-title">
        <h2>Популярные товары</h2>
        <button class="cards-title-button">Посмотреть все товары</button>
      </div>
      <div class="item-cards-block">
        <div class="item-card-arrow-_left">
          <button class="arrow-right_left">
            <img src="../assets/strelka levo2 1.svg" alt="лого левая стрелка" />
          </button>
        </div>

        <!-- Первая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div class="item-cards-image_number">
              <img src="../assets/procenty.svg" alt="лого процент" />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div><span class="crossed-out-price">52 руб.</span></div>
                <div>
                  <span class="popular_products_card_text_one">48 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- вторая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div class="item-cards-image_number">
              <img src="../assets/procenty.svg" alt="лого процент" />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div><span class="crossed-out-price">52 руб.</span></div>
                <div>
                  <span class="popular_products_card_text_one">48 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- третья -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div style="margin-left: 8px" class="item-cards-image_number">
              <div style="width: 109px; height: 90px">
                <img
                  style="position: relative; right: -5px; bottom: -11px"
                  src="../assets/Новинки.svg"
                  alt="лого процент"
                />
                <img
                  style="position: relative; top: 18px; right: -5px"
                  src="../assets/procenty.svg"
                  alt="лого проценты"
                />
              </div>
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div><span class="crossed-out-price">52 руб.</span></div>
                <div>
                  <span class="popular_products_card_text_one">48 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- четвертая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div style="margin-left: 8px" class="item-cards-image_number">
              <img
                style="position: relative; right: 2px; bottom: 3px"
                src="../assets/Новинки.svg"
                alt="лого процент"
              />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div>
                  <span class="popular_products_card_text_one">52 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item-card-arrow-right">
          <button class="arrow-right_left">
            <img src="../assets/strelka pravo.svg" alt="лого правая стрелка" />
          </button>
        </div>
      </div>
    </div>
    <!-- КОНТЕЙНЕР С КАРТИНКОЙ -->
    <div class="container-with-a-picture">
      <div style="margin-bottom: 20px">
        <span class="title_container_with_image"
          >Более 10 000 наименований</span
        >
      </div>
      <div style="padding-bottom: 142px">
        <span class="text_container_with_image_1"
          >Инструмент для вашего бизнеса, разнообразных марок</span
        >
      </div>
      <div>
        <span class="text_container_with_image_2">Перейти в каталог</span>
      </div>
    </div>
    <!-- БЛОК НОВИНКИ -->
    <div class="container-card-1">
      <div class="container-title">
        <h2>Новинки</h2>
        <button class="cards-title-button">Посмотреть все товары</button>
      </div>
      <div class="item-cards-block">
        <div class="item-card-arrow-_left">
          <button class="arrow-right_left">
            <img src="../assets/strelka levo2 1.svg" alt="лого левая стрелка" />
          </button>
        </div>

        <!-- Первая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div class="item-cards-image_number">
              <img
                style="position: relative; right: 22px"
                src="../assets/Новинки.svg"
                alt="лого процент"
              />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div>
                  <span class="popular_products_card_text_one">52 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- вторая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div class="item-cards-image_number">
              <img
                style="position: relative; right: 22px"
                src="../assets/Новинки.svg"
                alt="лого процент"
              />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div>
                  <span class="popular_products_card_text_one">52 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- третья -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div style="margin-left: 8px" class="item-cards-image_number">
              <div style="width: 109px; height: 90px">
                <img
                  style="position: relative; right: 5px; top: 20px"
                  src="../assets/Новинки.svg"
                  alt="лого процент"
                />
              </div>
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div>
                  <span class="popular_products_card_text_one">52 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- четвертая -->
        <div class="item_cards-product">
          <div class="item-cards-container-top">
            <div style="margin-left: 8px" class="item-cards-image_number">
              <img
                style="position: relative; right: 6px"
                src="../assets/Новинки.svg"
                alt="лого процент"
              />
              <img src="../assets/black heart.svg" alt="лого сердце" />
            </div>
          </div>
          <div class="item-cards-container-bottom">
            <div>
              <span class="popular_products_card_text_one"
                >Круг зачистной 125х6х22</span
              >
            </div>
            <div>
              <span class="popular_products_card_text">Артикул 00004</span>
            </div>
            <div>
              <div class="price-one-item">
                <span>Цена за штуку</span>
              </div>
              <div class="price-per-item">
                <div>
                  <span class="popular_products_card_text_one">52 руб.</span>
                </div>
              </div>
            </div>
            <div class="container_with_basket">
              <div>
                <span class="popular_products_card_text">Количество </span>
                <div class="number_of_purchases">
                  <button class="popular_products_card_text add_subtract-item">
                    -
                  </button>
                  <span class="popular_products_card_text_one">1</span>
                  <button class="popular_products_card_text add_subtract-item">
                    +
                  </button>
                </div>
              </div>
              <div>
                <button
                  class="popular_products_card_text basket-popular_products"
                >
                  В корзину
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="item-card-arrow-right">
          <button class="arrow-right_left">
            <img src="../assets/strelka pravo.svg" alt="лого правая стрелка" />
          </button>
        </div>
      </div>
    </div>
    <!-- ФУТЕР -->
    <footer class="footer-footer">
      <div class="container_footer">
        <div class="footer_top">
          <div class="footer_top_block-left_img">
            <img src="../assets/frame_1.SVG" alt="лого EGE" />
            <div style="position: relative; right: 353px">
              <h2 style="color: white">Остались вопросы ?</h2>
            </div>
          </div>
          <div class="footer_block_top">
            <div class="footer_top_block-left">
              <div class="footer_top_block-left_text">
                <div class="footer_top_block-left_text_block">
                  <div class="block_footer_number-image">
                    <img src="../assets/telefon Brad.svg" alt="лого тел" />
                    <span>Контактный телефон</span>
                  </div>
                  <div class="footer_left-block_text">
                    <a href="tel:+ 7 (812) 309-09-34" class="text_color_footer"
                      >+ 7 (812) 309-09-34 верх</a
                    ><a
                      href="tel:+ 7 (965) 084-29-09 "
                      class="text_color_footer"
                      >+ 7 (965) 084-29-09 низ</a
                    >
                  </div>
                </div>
                <div class="footer_top_block-left_text_block">
                  <div class="block_footer_number-image">
                    <img src="../assets/sms brad.svg" alt="лого почта" />
                    <span>Электронная почта</span>
                  </div>
                  <div class="footer_left-block_text">
                    <a href="mailto:tustin78@mail.ru " class="text_color_footer"
                      >tustin78&#64;mail.ru</a
                    ><a href="mailto:info@tustin.ru " class="text_color_footer"
                      >info&#64;tustin.ru</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="footer_top_block-right">
              <div class="footer_top_block-right_text">
                <div>
                  <p class="footer_top_block-right_text_p">
                    Узнавайте первым о скидках, предложениях и событиях
                    еженедельно в<br />
                    своем почтовом ящике. Отпишитесь в любое время одним щелчком
                    мыши.
                  </p>
                </div>
              </div>
              <div class="footer_top_block-right_input">
                <div class="container_input">
                  <img
                    style="position: relative; right: 39px"
                    src="../assets/sms brad.svg"
                    alt="лого почта"
                  />
                  <input
                    class="input_footer"
                    type="text"
                    placeholder="Введите свою почту"
                  />
                  <button class="footer_input-button">Отправить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="footer_block_bottom">
            <div class="footer_bottom_block_top">
              <span>Главная</span><span>О компании</span><span>Каталог</span>
            </div>
            <div class="footer_bottom_block_bottom">
              <div class="bottom_img">
                <img src="../assets/facebook.svg" alt="лого фейсбук" />
                <img src="../assets/youtube.svg" alt="лого ютуб" />
                <img src="../assets/whatsapp.svg" alt="лого ватсапп" />
              </div>
              <div class="bottom_text"><span>© 2021-2022, EDE</span></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
