<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <div class="header_lefr">
        <div class="header-logo">
          <img src="../assets/frame_1.SVG" alt="логотип сайта" />
        </div>
        <nav class="header_nav">
          <div class="header_nav_item">Главная</div>
          <div class="header_nav_item">О компании</div>
          <div class="header_nav_item">Каталог</div>
        </nav>
      </div>
      <div class="header_right">
        <div class="logo-phone">
          <img src="../assets/Phone.svg" alt="логотип телефона" />
        </div>
        <div class="number-pfone">+7 (965) 084-29-29</div>
        <div class="logo-heart">
          <img src="../assets/heart 1.svg" alt="логотип сердца" />
        </div>
        <div class="header-korzina">
          <img
            class="korzina"
            src="../assets/Mask group.svg"
            alt="лого корзина"
          />
          <div class="header_korzina_text">Пусто</div>
        </div>
      </div>
    </div>
    <div class="header_2">
      <div class="header_2_left">
        <div class="header_2_logo">
          <img
            class="logo-katalog"
            src="../assets/light.svg"
            alt="логотип каталога"
          />
          <div>Каталог</div>
        </div>
        <nav class="header_nav_2">
          <div class="header_nav_item2">Стройматериалы</div>
          <div class="header_nav_item2">Инструменты</div>
          <div class="header_nav_item2">Электрика</div>
          <div class="header_nav_item2">Интерьер и одежда</div>
        </nav>
      </div>
      <div class="header_2_right">
        <div class="input">
          <input
            class="input_header"
            type="search"
            placeholder="Поиск, например Круг зачистной "
          />
          <img src="../assets/Mask lupa.svg" alt="лого лупа" />
        </div>
        <div style="display: flex">
          <img
            style="margin-right: 5px"
            src="../assets/map-pin (2) 1.svg"
            alt="лого-москва"
          />
          <div>Москва</div>
        </div>
      </div>
    </div>
  </body>
</html>
