.content_container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  height: 854px;
  gap: 22px;
  text-align-last: center;
  overflow: hidden;
}

.title_todos-list {
  width: 1320px;
  text-align-last: center;
  margin: 0 auto;
}
