.content_container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  gap: 22px;
  text-align-last: center;
}

.title_todos-list {
  width: 1320px;
  text-align-last: center;
  margin: 0 auto;
}
