<form class="form-user-form" action="" [formGroup]="form">
  <p>NAME</p>

  <input class="form-input" type="text" formControlName="name" />
  <div
    *ngIf="
      form.controls['name'].invalid &&
      (form.controls['name'].dirty || form.controls['name'].touched)
    "
    class="alert"
  >
    <div *ngIf="form.controls['name'].errors">ИМЯ ВВЕДЕНО НЕПРАВИЛЬНО!</div>
  </div>

  <p>EMAIL</p>

  <input class="form-input" type="text" formControlName="email" />
  <div
    *ngIf="
      form.controls['email'].invalid &&
      (form.controls['email'].dirty || form.controls['email'].touched)
    "
    class="alert"
  >
    <div *ngIf="form.controls['email'].errors">email ВВЕДЁН НЕПРАВИЛЬНО!</div>
  </div>

  <p>WEBSITE</p>

  <input class="form-input" type="text" formControlName="website" />
  <div
    *ngIf="
      form.controls['website'].invalid &&
      (form.controls['website'].dirty || form.controls['website'].touched)
    "
    class="alert"
  >
    <div *ngIf="form.controls['website'].errors">САЙТ ВВЕДЁН НЕПРАВИЛЬНО!</div>
  </div>

  <p>COMPANY NAME</p>

  <input class="form-input" type="text" formControlName="companyName" />
  <div
    *ngIf="
      form.controls['companyName'].invalid &&
      (form.controls['companyName'].dirty ||
        form.controls['companyName'].touched)
    "
    class="alert"
  >
    <div *ngIf="form.controls['companyName'].errors">
      НАЗВЕНИЕ ВВЕДЕНО НЕПРАВИЛЬНО!
    </div>
  </div>
  <button
    class="form-button"
    [disabled]="form.invalid"
    [mat-dialog-close]="userWithUpdatedFields"
  >
    РЕДАКТИРОВАТЬ
  </button>
</form>
